# VSCode related
/.vscode
*.swp

# Visual Studio related
/.vs
/out

# make related
Makefile
*.make
/lib
/obj

# cmake related
/build
CMakeUserPresets.json

# premake related
/bin
/make

# binaries
*.a
*.o

# macOS related
.DS_Store

# vcpkg related
vcpkg-configuration.json
vcpkg.json