# editor related
/.vscode
*.swp

# make related
Makefile
*.make
/lib
/obj

# cmake related
/out
/build

# premake related
/bin
/make

# binaries
lassie
cmod
UpgradeProjectFormat

# macOS related
.DS_Store